<%= form_for(@new_gist) do |f| %>
<dl>
  <dt><%= f.label :name %></dt>
  <dd><%= f.text_field :name %></dt>
  <dt><%= f.label :url %></dt>
  <dd><%= f.text_field :url, {:value => 'https://gist.github.com/'} %></dd>
  <dt><%= f.label 'point' %></dt>
  <dd><%= f.number_field :count %></dd>
  <p><%= f.submit 'Gistを追加', :class => 'btn btn-info' %></p>
</dl>
<% end %>
