<%= form_for(@new_gist) do |f| %>
<table>
  <tr>
    <td><%= f.text_field :name %></td>
    <td><%= f.text_field :url %></td>
    <td><%= f.number_field :count %></td>
    <td></td>
    <td><%= f.submit %></td>
    <td></td>
  </tr>
</table>
<% end %>
