<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gist.name %>
</p>

<p>
  <b>Url:</b>
  <%= @gist.url %>
</p>

<p>
  <b>Count:</b>
  <%= @gist.count %>
</p>


<%= link_to 'Edit', edit_gist_path(@gist) %> |
<%= link_to 'Back', gists_path %>
