<!DOCTYPE html>
<html>
<head>
  <title>GistMail</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="link">
  <% if user_signed_in? %>
    <%= link_to 'ログアウト', destroy_user_session_path, :method => :delete %>
    <%= link_to 'ユーザ情報編集', edit_user_registration_path %>
  <% else %>
    <%= link_to '新規登録', new_user_registration_path %>
    <%= link_to 'ログイン', user_session_path %>
    <%= link_to 'パスワードの再発行', new_user_password_path %>
  <% end %>
  <%= link_to 'トップ画面', root_path %>
  </div>
  <div id="contents">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
